<div class="content">
    <div class="header">
        <h4>Usuarios registrados</h4>
    </div>

    <ng-container *ngIf="data.length > 0; else emptyList">
        <table mat-table [dataSource]="data" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} {{ element.last_name }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="type_user">
                <th mat-header-cell *matHeaderCellDef> Profesión</th>
                <td mat-cell *matCellDef="let item">
                    <span *ngIf="item.type_user == 1">Contador</span>
                    <span *ngIf="item.type_user == 2">Abogado</span>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email</th>
                <td mat-cell *matCellDef="let element"> {{ element.email_optional }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Teléfono</th>
                <td mat-cell *matCellDef="let element"> {{ element.phone }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="document">
                <th mat-header-cell *matHeaderCellDef> Cédula</th>
                <td mat-cell *matCellDef="let element"> {{ element.document }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="uid">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="/detail/{{element.uid}}">
                        <img  src="https://cero-vueltas.s3.amazonaws.com/app/eye.png" width="16px" height="16px" alt="https://cicletadapp.s3.amazonaws.com/">
                    </a>
                    <router-outlet></router-outlet>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </ng-container>
    <ng-template #emptyList>
        <mat-progress-bar  *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="!loading" class="center-content">
            <mat-icon class="icon">info</mat-icon>
            <p>No hay registros disponibles</p>
        </div>
    </ng-template>

</div>
