<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-carrot me-3"></i>Don Kampo</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="index.html" class="nav-item nav-link active">Inicio</a>
            <a href="about.html" class="nav-item nav-link">Sobre Nosotros</a>
            <a href="service.html" class="nav-item nav-link">Servicios</a>
            <a href="product.html" class="nav-item nav-link">Productos</a>
            <a href="contact.html" class="nav-item nav-link">Contacto</a>
        </div>
        <a href="" class="btn btn-primary rounded-pill py-2 px-4">Comprar Ahora</a>
    </div>
</nav>
