/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$my-custom-theme: (
        primary: #ff5252,
        accent: #ff4081,
        warn: #ff5252,
);